<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Comprobador de Palíndromos</title>
</head>

<body>
    <h2>Comprobador de Palíndromos</h2>

    <form th:action="@{/palindromo}" th:object="${palindromoData}" method="post">
        <table>
            <tr>
                <td>Introduce texto o palabra:</td>
                <td><input type="text" th:field="*{texto}" /></td>
                <td style="color: red;" th:if="${#fields.hasErrors('texto')}" th:errors="*{texto}"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Comprobar</button></td>
            </tr>
        </table>
    </form>
</body>

</html>